
body {
	margin:0px;
}

header {

	width: 100%;
	height:150px;
	background-color: #7d7d7d;
	padding:0px;
	background-image: url("img/head_title.png");
	background-repeat: no-repeat;
    

}


fieldset{
    padding-left: 35%;
    padding-right: 35%;
}

.form
{
    margin-left:25%;
    margin-right:25%;
    color:#000;
   
}

.form label
{
  display: block;
  /*width: 185px;*/
}
